.background {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.header {
  text-align: center;
}

.head {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  color: white;
  margin-top: 3rem;
}
.declarationText {
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
}

.header p {
  margin-top: 1rem;
  color: grey;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.header span {
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 6rem;
}

.submitButton {
  background-color: #720e9e;
  border: none;
  color: white;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
}

.leftContent p {
  font-weight: bold;
  color: grey;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

.taskList {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
}

.allTasks {
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  /* gap: 0.5rem; */
}

.taskNumber {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #720e9e;
  /* margin-bottom: 0.5rem; */
}

.taskContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.taskBtton {
  background-color: #720e9e;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.8rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.inputs label {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.inputBox {
  /* background-color: #333; */
  background-color: #141414;
  /* border: 1px solid white; */
  border-radius: 5px;
  padding: 0.6rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.rightContent {
  border-color: antiquewhite;
}

.socialIcons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icon {
  color: white;
  transition: color 0.3s;
}

.icon:hover {
  color: #00aced;
}

@media (max-width: 700px) {
  .content {
    flex-direction: column;
  }

  .inputs {
    margin-top: 0rem;
  }

  .rightContent {
    order: -1;
  }

  .leftContent {
    width: 100%;
  }

  .leftContent p {
    font-size: 1.5rem;
  }

  .leftContent li {
    font-size: 1.2rem;
  }

  .task {
    flex-direction: column;
    align-items: flex-start;
  }

  .taskContent {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .taskBtton {
    padding: 0.1rem 2rem;
    text-align: center;
  }
}
