.background {
    min-height: 100vh; /* Covers at least the full viewport height */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; /* Add some padding if needed */
    box-sizing: border-box;
}

.header {
    text-align: center;
}

.head {
    font-family: 'Raleway', sans-serif; /* Ensure the font-family is correctly imported */
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    color: white;
    margin-top: 3rem;
}

.header p {
    margin-top: 1rem;
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.header span {
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
    gap: 6rem;
}

.leftContent p {
    font-weight: bold;
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.leftContent li {
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

.rightContent {
    border-color: antiquewhite;
}

.socialIcons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icon {
    color: white;
    transition: color 0.3s;
}

.icon:hover {
    color: #00aced; /* Change this hover color as per your requirement */
}


@media(max-width: 700px) {
    .content {
        flex-direction: column;
    }
    .rightContent{
        order: -1;
    }
    .leftContent p{
        font-size: 1.5rem;
    }
    .leftContent li{
        font-size: 1.2rem;
    }
}
